In [1]:
#if statement

hello world

In [1]:
x=0
y=5

if x<y:
    print('yes')
if y<x:
    print('yes')
if x:
    print('yes')
if y:
    print('yes')
if 'aul' in 'grault':
    print('yes')
if 'quux' in ['foo','bar','baz']:
    print('yes')

yes
yes
yes

In [2]:
if 'foo' in ['bar','baz','qux']:
    print('expression was true')
    print('executing statement in suite')
    print('...')
    print('done')

print('after conditional')

after conditional

In [1]:
if 'foo' in ['foo', 'bar', 'baz']:
    print('outer condition is true')
    
    if 10>20:
        print('inner condition 1')

    print('between inner conditions')

    if 10<20:
        print('inner condition 2')

    print('end of outer condition')
print('after outer condition')

outer condition is true
between inner conditions
inner condition 2
end of outer condition
after outer condition

In [2]:
x=20

if x<50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [3]:
x=120

if x<50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [4]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000  #ini ganti ganti aja

if uang>hargaBuku:
    print ('beli buku')
else:
    print('uang tidak cukup')

uang tidak cukup

In [13]:
name='Hacktiv8'

if name =='fred':
    print('hello fred')
elif name =='xander':
    print('hello xander')
elif name == 'Hacktiv8':
    print('hello Hacktiv8')
elif name =='arnold':
    print('hello arnold')
else:
    print ('i dont know who you are!')

hello Hacktiv8

In [15]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print('this wont happen')
elif var:
    print('this wont either')

foo

In [16]:
if 'f' in 'foo':print('1');print('2');print('3')

1
2
3

In [17]:
x=2

if x==1 : print('foo'); print('bar'); print('baz')
elif x==2 : print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [18]:
x=3
if x==1:
    print('foo')
    print('bar')
    print('baz')
elif x==2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

In [19]:
raining= False
print('lets go to the', 'beach' if not raining else 'library')

lets go to the beach

In [20]:
raining=True
print('lets go to the', 'beach' if not raining else 'library')

lets go to the library

In [22]:
age= 12
s='teen' if age < 21 else 'adult'
s

'teen'

In [23]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [26]:
if True :
    pass

print('foo')

foo

In [27]:
n=5
while n>0:
    n-= 1
    print(n)

4
3
2
1
0

In [28]:
i=1 
while i<6:
    print(i)
    i +=1

1
2
3
4
5

In [29]:
n=5
while n>0:
    n-= 1
    if n==2:
        break
    print(n)
print('loop ended ')

4
3
loop ended

In [30]:
n=5
while n>0:
    n-= 1
    if n==2:
        continue
    print(n)
print('loop ended ')

4
3
1
0
loop ended

In [33]:


if age <18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender =='M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

son

In [34]:
a=['foo', 'bar']

while len(a):
    print(a.pop(0))

    b=['baz', 'qux']

    while len(b):
        print ('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [35]:
n = 5
while n>0 : n-=1; print(n)

4
3
2
1
0

In [36]:
a= ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [37]:
d={'foo':1, 'bar':2, 'baz':3}
for k in d:
    print(k)

foo
bar
baz

In [38]:
for k in d:
    print(d[k])

1
2
3

In [39]:
for k in d.values():
    print(k)

1
2
3

In [40]:
for k, v in d.items():
    print(k, ':', v)

foo : 1
bar : 2
baz : 3

In [41]:
d={'foo':1, 'bar':2, 'baz':3}
for k in d:
    print(k)

foo
bar
baz

In [42]:
for k in d:
    print(d[k])

1
2
3

In [43]:
for v in d.values():
    print(v)

1
2
3

In [44]:
for n in (0,1,2,3,4):
    print(n)

0
1
2
3
4

In [45]:
x = range(5)

for n in x :
    print(x)

range(0, 5)
range(0, 5)
range(0, 5)
range(0, 5)
range(0, 5)

In [46]:
for i in ['foo', 'bar','baz','qux']:
    if 'b' in i:
        break
    print(i)

foo

In [47]:
for i in ['foo', 'bar','baz','qux']:
    if 'b'in i :
        continue
    print(i)

foo
qux

In [48]:
for i in ['foo', 'bar','baz','qux']:
    if 'b'in i :
        continue
    print(i)
else:
    print('done')

foo
qux
done

In [49]:
for i in ['foo', 'bar','baz','qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')

foo

In [3]:
temp=input('ketikan temperatur yang ingin di konversi, eg. 45F,120C:')
degree=int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result=int(round((9*degree)/5+32))
elif i_convertion == "F":
    result=int(round((degree-32)*5/9))
else:
    print('masukkan input yang benar')

print('temperaturnya adalah',result,'derajat')

temperaturnya adalah 7 derajat